*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
	position: relative;
}
.overlay{
	/*display: none;
	*/visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 100%;
	height: 100%; */
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}
.overlay.active{
	/*display: block;
	/**/visibility: visible;
	opacity: 1;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}
.modal1{
	/*display: none;
	*/visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 260px;
	left: 50%;	
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: calc(50ch - 20px);
	min-width: calc(300px - 20px);
	max-height: calc(100vh - 20px);
	overflow: hidden;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 60px 105px 48px 105px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	-moz-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	-o-transform: translate(-50%, -100%);
	transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
	-ms-transition: 0.5s all ease-out;
	-o-transition: 0.5s all ease-out;
}
.modal1.openModale{
	/* display: block; */

	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
#modal1.hidden{
	display: flex;
}
#modal1[aria-hidden="true"]{
	animation: fadeOut 0.5s both;
	-webkit-animation: fadeOut 0.5s both;
}

.modal1 .iconsModal1-x{
	display: block;
	position: absolute;
	font-size: 24px;
	top: 30px;
	right: 30px;
	color: #000;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
}
.modal1 .iconsModal1-x:hover{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
#modal1-container{
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}
#modal1-container h3{
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	color: #000;
	padding-bottom: 41px;
}
#modal1-container #modal1-gallerie{
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 25px;
	margin-bottom: 50px;
	position: relative;
}
#modal1-container .boutons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	gap: 23px;
	border-top: 1px solid #B3B3B3;
	padding-top: 34px;
}
#modal1-container .boutons #ajouterPhoto{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
    background: #1D6154;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	width: 237px;
    height: 36px;
    flex-shrink: 0;
	border: 1px solid #1D6154;
}
#modal1-container .boutons #supprimeGallerie{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Syne;
	font-size: 14px;
	background-color: transparent;
	font-weight: 400;
	color: #D65353;
	width: 230px;
}
#modal1-gallerie figure{
	position: relative;
}
#modal1-gallerie figure img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 2px 0;
	position: relative;
}
.editer{
	display: flex;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 12px;
	font-weight: 400;
	background: #FFF;
	border: none
}
.fa-trash-can{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 8px;
	right: 5px;
	width: 17px;
	height: 17px;
	font-size: 9px;
	background: #000;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
}
.fa-arrows-up-down-left-right{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 27px;
    width: 17px;
    height: 17px;
    font-size: 9px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    animation: fade 0.3s ease-out;
    -webkit-animation: fade 0.3s ease-out;
}
figure:hover .fa-arrows-up-down-left-right{
    display: flex;
}
@keyframes fade{
	from { opacity: 0; }
	to { opacity: 1; }
}

.delete{
    display: none;
}