*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
#modal2{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 630px;
    max-width: calc(100% - 20px);
    max-height: calc(100vh - 20px);
    overflow: hidden;
    background: #FFF;
    position: absolute;
    top: 260px;
    left: 50%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    transform: translate(-50%, -50%);
    /*animation: fadeIn 0.5s ease-out;
    -webkit-animation: slide-left 1000ms forwards, fade-in 500ms forwards;
    */animation: slide-left 1000ms forwards, fade-in 500ms forwards;
    -webkit-animation: slide-left 1000ms forwards, fade-in 500ms forwards;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#modal2.hidden{
	display: flex;
}
#modal2[aria-hidden="true"]{
    /*animation: fadeOut 0.2s both;
    -webkit-animation: slide-right 1000ms forwards, fade-out 1000ms forwards;
    */animation: slide-right 1000ms forwards, fade-out 1000ms forwards;
    -webkit-animation: slide-right 1000ms forwards, fade-out 1000ms forwards;
}
@keyframes fadeIn{
	from {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 50px));
        -webkit-transform: translate(-50%, calc(-50% - 50px));
        -moz-transform: translate(-50%, calc(-50% - 50px));
        -ms-transform: translate(-50%, calc(-50% - 50px));
        -o-transform: translate(-50%, calc(-50% - 50px));
}
	to { 
		transform: translate(-50%, calc(-50% - 0px));
		-webkit-transform: translate(-50%, calc(-50% - 0px));
		-moz-transform: translate(-50%, calc(-50% - 0px));
		-ms-transform: translate(-50%, calc(-50% - 0px));
		-o-transform: translate(-50%, calc(-50% - 0px));
		opacity: 1;
	}
}
@keyframes fadeOut{
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes slide-left {
    0% {
        transform: translate(-100%, calc(-50% - 0%));
        -webkit-transform: translate(-100%, calc(-50% - 0%));
        -moz-transform: translate(-100%, calc(-50% - 0%));
        -ms-transform: translate(-100%, calc(-50% - 0%));
        -o-transform: translate(-100%, calc(-50% - 0%));
}
    100% {
        transform: translate(-50%, calc(-50% - 0%));
        -webkit-transform: translate(-50%, calc(-50% - 0%));
        -moz-transform: translate(-50%, calc(-50% - 0%));
        -ms-transform: translate(-50%, calc(-50% - 0%));
        -o-transform: translate(-50%, calc(-50% - 0%));
}
  }
  @keyframes slide-right {
    0% {
        transform: translate(-50%, calc(-50% - 0%));
        -webkit-transform: translate(-50%, calc(-50% - 0%));
        -moz-transform: translate(-50%, calc(-50% - 0%));
        -ms-transform: translate(-50%, calc(-50% - 0%));
        -o-transform: translate(-50%, calc(-50% - 0%));
}
    100% {
        transform: translate(100%, calc(-50% - 0%));
        -webkit-transform: translate(100%, calc(-50% - 0%));
        -moz-transform: translate(100%, calc(-50% - 0%));
        -ms-transform: translate(100%, calc(-50% - 0%));
        -o-transform: translate(100%, calc(-50% - 0%));
}
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
#modal2 .iconsModal2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 26px 30px 10px 30px;
}
#modal2 .icons{
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 24px;
	color: #000;
}
#modal2-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#modal2-container h3{
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	color: #000;
	padding-bottom: 36px;
}
#modal2-container .form2{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
}
.ajoutPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 169px;
    border-radius: 3px;
    background: #E8F1F6;
    position: relative;
    /* border: 1px solid blue; */

}
.ajoutPhoto .wrapper-previewImage{
    position: absolute;
    top: 0;
    max-width: 126px;
    max-height: 160px;
	display: none;
	grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ajoutPhoto .wrapper-previewImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form2 .ajoutPhoto .fa-image{
    color: #B9C5CC;
    -webkit-text-stroke: transparent;
    font-size: 76px;
    padding-bottom: 10px;
    display: flex;
    opacity: 1;
}
.form2 .ajoutPhoto .label_image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #CBD6DC;
    width: 173px;
    height: 36px;
    flex-shrink: 0;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    color: #306685;
    border: #CBD6DC;
    position: relative;
    cursor: pointer;
}
.form2 .ajoutPhoto input{
    display: block;
    position: absolute;
    top: 232px;
    width: 173px;
    min-height: 36px;
    font-size: 24px;
    appearance: none;
    opacity: 0;
    border-radius: 50px;
    cursor: pointer;
}
.form2 .ajoutPhoto .p_image_preview{
    display: block;
    text-align: center;
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    color: #444;
    padding-top: 7px;
}
.formTitleCat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.formTitleCat label {
    width: 420px;
    color: #3D3D3D;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
	margin: 2em 0 1em 0;
}
.formTitleCat input[type="text"]{
    /* display: block;*/
    font-family: Work Sans;
    font-weight: 400;
    color: #444;
    padding: 18px 0 17px 16px;
    width: 420px;
    height: 100%;
	font-size: 15px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formTitleCat select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(images/chevron-down-solid\ 1.png); 
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 20px;
    width: 11.18px;
    height: 11.18px;
    margin-bottom: 47px;
    font-family: Work Sans;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 18px 0 17px 16px;
    color: #444;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
}
.valider{
    border-top: 1px solid #B3B3B3;
    width: 100%;
    padding-top: 4px;
    margin-bottom: 20px;
}
.valider #submit{
    display: block;
    width: 237px;
    height: 36px;
    border-radius: 60px;
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 14px;
    font-weight: 700;  
    border: none;
    cursor: pointer;
    border-radius: 60px;
    background: #A7A7A7;   
}
#submit.val{
    background: #1D6154;
}
#erreur-title{
    display: none;
    justify-content: flex-start;
    align-items: center;
    width: 99%;
    color: red;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 0;
    padding-left: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
#erreur-categorie{
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 99%;
    bottom: 7%;
    color: red;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 0;
    padding-left: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
#erreur-image{
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 99%;
    bottom: -23px;
    color: red;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 0;
    padding-left: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
#succes{
    display: none;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    color: greenyellow;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
    padding-left: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}